body {
  font-family: 'Rubik', sans-serif;
}

.btn-margin {
  margin: 7px 3px;
}



.logo {
  max-width: 300px;
  display: block;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;

}

.login-btn {
  margin: 20px auto;
  display: block;
  background-color: darkgrey;
  border: 2px solid #222222;
}

.login-btn::before {
  content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
    background-image : url(/images/g-logo.png);
    background-size: 16px;
}

.panel {
  border-radius: 0;
  border: 0;
}

.panel-heading {
  display: flex;
}

.panelHeading {
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

  .panelHeading .flag {
    display: inline-block;
    margin-right: 20px;
  }
    
    .panelHeading .flag img {
      width: 40px;
    }

  .panelHeading .contryArtistContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .panelHeading .countryName {
    font-size: 15pt;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }



  .panelHeading .averageScore {
    font-size: 25px;
  }
  
  .panel-body {
    border-bottom: 1px solid #f0f0f0;
  }

  .categoryForm {
    display: flex;
    justify-content: center;
  }

  .category {
    padding: 3px;
    margin-bottom: 0;
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .category .control-label {
    text-align: center;
  }

  .contestantPicture {
    width: 100%;
    display: block;
  }

  .contestantPicture img {
    width: 100%;
  }

  .contestantInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
  }

  .contestantInfo .name {
    font-weight: 600;
  }

  .contestantInfo .song {
    font-size: 17px;
  }

  .youtube {
    text-align: center;
    margin: 20px 0;
  }
  /*
  .youtube {
    position: relative;
    width: 50%;
    padding-bottom: 28.125%;
    margin: 0 auto;
  }
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
*/
  #accordion {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #f0f0f0;
  }

  .officialLink {
    text-align: center;
    margin: 20px 0;
  }

  label {
    font-weight: normal;
  }

  .back-button {
    position: absolute;
    top:5px;
    right: 5px;
    font-size: 20px;
    z-index: 1000;
    cursor: pointer;
  }

  .dashboard-top-label {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  .dashboard-grid {
    height: 100vh;
    width: 100%;
  }

  .dashboard-row {
    height: 50%;
  }

  .dashboard-panel {
    height: 100%;
    float: left;
    padding: 5px;
  }



  .data-panel {
    width: 100%;
    height: 100%;
    border: 1px solid #f0f0f0;
    margin: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .categoryBar {
    width: 100%;
    height: 100%;
  }

  .category-row {
    height: calc(50% - 10px);
  }

  .category-col {
    height: 100%;
  }

  .top-rank-row {
    height: calc(100% - 20px);
  }

  .contestant-fact-picture {
    width: 100%;
    height: 100%;
  }

  .contestant-fact-picture img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .contestant-fact-info {
    height: 25%;

  }

  .contestant-fact-info > .info-container > .contestant-fact-text-label {
    font-size: 12px;
  }

  .contestant-fact-info > .info-container > .contestant-fact-name-label {
    font-size: 14px;
    font-weight: 600;
  }

  .info-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }