body {
  font-family: 'Rubik', sans-serif;
}

.btn-margin {
  margin: 7px 3px;
}



.logo {
  max-width: 300px;
  display: block;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;

}

.login-btn {
  margin: 20px auto;
  display: block;
  background-color: darkgrey;
  border: 2px solid #222222;
}

.login-btn::before {
  content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
    background-image : url(/images/g-logo.png);
    background-size: 16px;
}

.panel {
  border-radius: 0;
  border: 0;
}

.panel-heading {
  display: flex;
}

.panelHeading {
  border-bottom: 1px solid #f0f0f0;
}

  .panelHeading .flag {
    display: inline-block;
    margin-right: 20px;
  }
    
    .panelHeading .flag img {
      width: 40px;
    }

  .panelHeading .contryArtistContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .panelHeading .countryName {
    font-size: 15pt;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }



  .panelHeading .averageScore {
    font-size: 25px;
  }
  
  .panel-body {
    border-bottom: 1px solid #f0f0f0;
  }

  .categoryForm {
    display: flex;
    justify-content: center;
  }

  .category {
    padding: 10px;
    margin-bottom: 0;
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .category .control-label {
    text-align: center;
  }

  .contestantPicture {
    width: 100%;
    display: block;
  }

  .contestantPicture img {
    width: 100%;
  }

  .contestantInfo {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
  }

  .contestantInfo .infoDivider {
    margin: 0 15px;
  }

  .youtube {
    text-align: center;
    margin: 20px 0;
  }
  /*
  .youtube {
    position: relative;
    width: 50%;
    padding-bottom: 28.125%;
    margin: 0 auto;
  }
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
*/
  #accordion {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #f0f0f0;
  }

  .officialLink {
    text-align: center;
    margin: 20px 0;
  }

  label {
    font-weight: normal;
  }